{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://css.gg/add.css' rel='stylesheet'>
    <link href='https://css.gg/trash.css' rel='stylesheet'>
    <link href='https://css.gg/log-out.css' rel='stylesheet'>
    <link href='https://css.gg/transcript.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_responsive.css' %}">
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
    <title>To-Do List</title>
</head>

<body>
    <div class="contenedor">
        <aside class="sidebar">
            <a href="{% url 'inicio' %}">
                <h2 class="disable-select">Tareas</h2>
            </a>
            <p class="nombre-usuario">Hola <span>@{{ user.username }}</span> &#128522 &nbsp;&nbsp;<a
                    href="{% url 'logout' %}" class="cerrar-sesion"><svg width="15" height="15" viewBox="0 0 20 20"
                        fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M8.51428 20H4.51428C3.40971 20 2.51428 19.1046 2.51428 18V6C2.51428 4.89543 3.40971 4 4.51428 4H8.51428V6H4.51428V18H8.51428V20Z"
                            fill="currentColor" />
                        <path
                            d="M13.8418 17.385L15.262 15.9768L11.3428 12.0242L20.4857 12.0242C21.038 12.0242 21.4857 11.5765 21.4857 11.0242C21.4857 10.4719 21.038 10.0242 20.4857 10.0242L11.3236 10.0242L15.304 6.0774L13.8958 4.6572L7.5049 10.9941L13.8418 17.385Z"
                            fill="currentColor" />
                    </svg></a></p>
            <hr class="hr-1">
            <!-- Listado de los proyectos -->
            <ul class="listado-proyectos">
                {% block listado_proyectos %}
                {% endblock %}
            </ul>

            <!-- Agregar nuevo proyecto -->
            <div class="contenedor-nuevo-proyecto">
                <hr class="hr-3">
                <div class="nuevo-proyecto">
                    <svg width="42" height="42" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12ZM12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4Z"
                            fill="currentColor" />
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M13 7C13 6.44772 12.5523 6 12 6C11.4477 6 11 6.44772 11 7V11H7C6.44772 11 6 11.4477 6 12C6 12.5523 6.44772 13 7 13H11V17C11 17.5523 11.4477 18 12 18C12.5523 18 13 17.5523 13 17V13H17C17.5523 13 18 12.5523 18 12C18 11.4477 17.5523 11 17 11H13V7Z"
                            fill="currentColor" />
                    </svg>
                    <h3 class="disable-select">Nuevo proyecto</h3>
                </div>
                <section class="modal">
                    <div class="modal__container">
                        <h3 class="titulo-modal">Nuevo proyecto</h3>
                        {% block nuevo_proyecto %}
                        {% endblock %}
                    </div>
                </section>
            </div>
        </aside>
        <main class="contenedor-main">
            <div class="inicio-mobil">
                <a href="{% url 'inicio' %}">
                    <h2 class="disable-select">Tareas</h2>
                </a>
                <p>Hola <span>@{{ user.username }}</span> &#128522 &nbsp;&nbsp;</p>
            </div>
            <div class="tareas-hoy">
                {% block listado_tareas_hoy %}
                <!-- Listado de todas las tareas del día de hoy -->
                {% endblock %}
            </div>
            <div class="tareas-completadas">
                {% block listado_tareas_completadas %}
                <!-- Listado de todas las tareas del día de mañana -->
                {% endblock %}
            </div>
            <div class="agregar-tarea-general">
                {% block agregar_tarea_general %}
                {% endblock %}
            </div>

            <!-- Agregar un proyecto movil -->
            <div class="boton-movil-proyecto">
                <button class="add-proyecto-mobil" id="show-proyecto">
                    <svg
                    width="50"
                    height="50"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    >
                    <path d="M2 5H14V7H2V5Z" fill="currentColor" />
                    <path d="M2 9H14V11H2V9Z" fill="currentColor" />
                    <path d="M10 13H2V15H10V13Z" fill="currentColor" />
                    <path d="M16 9H18V13H22V15H18V19H16V15H12V13H16V9Z" fill="currentColor" />
                    </svg>
                </button>
            </div>
            <div class="agregar-proyecto-mobil" id="modal-proyecto">
                <div class="add-proyecto-contenido">
                    <h4>Nuevo Proyecto</h4>
                    {% block agregar_proyecto_movil %}
                    {% endblock %}
                </div>
            </div>
            <!-- Agregar una tarea movil -->
            <div class="boton-movil-tarea">
                <button class="add-task-mobil" id="show-tarea"><svg width="50" height="50" viewBox="0 0 24 24" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M5 16C5 15.4477 5.44772 15 6 15H14C14.5523 15 15 15.4477 15 16C15 16.5523 14.5523 17 14 17H6C5.44772 17 5 16.5523 5 16Z"
                        fill="currentColor" />
                    <path
                        d="M18 11C18.5523 11 19 11.4477 19 12C19 12.5523 18.5523 13 18 13H10C9.44772 13 9 12.5523 9 12C9 11.4477 9.44772 11 10 11H18Z"
                        fill="currentColor" />
                    <path
                        d="M16 16C16 15.4477 16.4477 15 17 15H18C18.5523 15 19 15.4477 19 16C19 16.5523 18.5523 17 18 17H17C16.4477 17 16 16.5523 16 16Z"
                        fill="currentColor" />
                    <path
                        d="M7 11C7.55228 11 8 11.4477 8 12C8 12.5523 7.55228 13 7 13H6C5.44772 13 5 12.5523 5 12C5 11.4477 5.44772 11 6 11H7Z"
                        fill="currentColor" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M4 3C2.34315 3 1 4.34315 1 6V18C1 19.6569 2.34315 21 4 21H20C21.6569 21 23 19.6569 23 18V6C23 4.34315 21.6569 3 20 3H4ZM20 5H4C3.44772 5 3 5.44772 3 6V18C3 18.5523 3.44772 19 4 19H20C20.5523 19 21 18.5523 21 18V6C21 5.44771 20.5523 5 20 5Z"
                        fill="currentColor" />
                </svg>
                </button>
            </div>
            <div class="agregar-tarea-mobil" id="modal-tarea">
                <div class="add-task-contenido">
                    <h4>Nueva tarea</h4>
                    {% block agregar_tarea_general_movil %}
                    {% endblock %}
                </div>
            </div>
        </main>
    </div>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/nueva_tarea_proyecto.js' %}"></script>
</body>

</html>