<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Proyectos</h1>
    <ul>
        <h3>Total proyectos: {{proyectos.count}}</h3>
        {%for proyecto in proyectos %}
            <li><a href="{% url 'proyectoSeleccionado' proyecto=proyecto.titulo_proyecto %}">{{ proyecto.titulo_proyecto }}</a></li>
        {% endfor %}
    </ul>
    <div>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Guardar</button>
        </form>
    </div>
</body>
</html>