<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{proyecto.titulo_proyecto}}</h1>
    <h3>Tareas:</h3>
    <ul>
        {% for tarea in tareas %}
            {% if not tarea.completado %}
                <a href="{% url 'completar_tarea' pk=tarea.pk %}">Completar</a>
                <p>{{ tarea.titulo_tarea }}</p>
                <hr>
            {% endif %}
        {% endfor %}
    </ul>
    <h3>Completados:</h3>
        {% for tarea in tareas %}
            {% if tarea.completado %}
                <a href="{% url 'descompletar_tarea' pk=tarea.pk %}">Descompletar</a>
                <p>Completado: {{tarea.titulo_tarea}}</p>
                <hr>
            {% endif %}
        {% endfor %}
    <div>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Guardar</button>
        </form>
    </div>
</body>
</html>