{% extends 'appToDo/base.html' %}
<!-- Listado de todos los proyectos en sidebar -->
{% block listado_proyectos%}
{%for proyecto in proyectos %}
<div class="listado">
    <div class="sidebar-proyecto-titulo">
        {% if proyecto.titulo_proyecto == 'Todos' %}
        <a href="{% url 'inicio' %}" class="disable-select proyecto-titulo-sidebar">
            <div class="contenedor-proyectos">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 120 120">
                    <circle cx="60" cy="60" r="50" fill="{{ proyecto.color }}" />
                </svg>
                <li>{{ proyecto.titulo_proyecto }}</li>
            </div>
        </a>
        {% else %}
        <a href="{% url 'proyecto_seleccionado' proyecto=proyecto.titulo_proyecto %}"
            class="disable-select proyecto-titulo-sidebar">
            <div class="contenedor-proyectos">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 120 120">
                    <circle cx="60" cy="60" r="50" fill="{{ proyecto.color }}" />
                </svg>
                <li>{{ proyecto.titulo_proyecto }}</li>
            </div>
        </a>
        {% endif %}
    </div>
    <div class="sidebar-proyecto-eliminar">
        {% if proyecto.titulo_proyecto != 'Todos' %}
            <a href="{% url 'borrar_proyecto_individual' pk=proyecto.pk %}" class="eliminar-proyecto">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M17 5V4C17 2.89543 16.1046 2 15 2H9C7.89543 2 7 2.89543 7 4V5H4C3.44772 5 3 5.44772 3 6C3 6.55228 3.44772 7 4 7H5V18C5 19.6569 6.34315 21 8 21H16C17.6569 21 19 19.6569 19 18V7H20C20.5523 7 21 6.55228 21 6C21 5.44772 20.5523 5 20 5H17ZM15 4H9V5H15V4ZM17 7H7V18C7 18.5523 7.44772 19 8 19H16C16.5523 19 17 18.5523 17 18V7Z"
                        fill="currentColor" />
                    <path d="M9 9H11V17H9V9Z" fill="currentColor" />
                    <path d="M13 9H15V17H13V9Z" fill="currentColor" />
                </svg>
            </a>
        {% endif %}
    </div>
</div>
{% endfor %}
{% if proyectos.count == 1 %}
<p class="sin-proyectos-listado">No tienes proyectos personales...</p>
{% endif %}
{% endblock %}

<!-- Agregar un nuevo proyecto -->
{% block nuevo_proyecto %}
<form method="POST">
    {% csrf_token %}
    {{ form_proyecto.titulo_proyecto }}
    {{ form_proyecto.color }}
    <button type="submit" hidden>Guardar</button>
</form>
{% endblock %}

<!-- Listado de todas las tareas del día de hoy -->
{% block listado_tareas_hoy %}
<div class="titulo-proyecto-individual">
    <h1 class="titulo-principal-tareas">Hoy</h1>
    <h2 class="titulo-principal-tareas">{{ proyecto }}</h2>
</div>
{% if not tareas %}
<div class="no-hay-tareas">
    <p>No has agregado tareas &#128543;</p>
</div>
{% else %}
{% for tarea in tareas %}
<div class="contenedor-tareas">
    <div class="titulo-boton-tarea">
        <a href="{% url 'completar_tarea' pk=tarea.pk %}"><svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                width="24" height="24" viewBox="0 0 120 120">
                <circle cx="60" cy="60" r="50" fill="#d6d6d6" />
            </svg></a>
        <p>{{ tarea.titulo_tarea }}</p>
    </div>
    <div class="tipo-fecha-tarea">
        {% if tarea.fecha_vencimiento %}
        <p class="tipo-proyecto">{{ tarea.titulo_proyecto }}</p>
        {% if fecha_actual < tarea.fecha_vencimiento %} <p class="fecha-vencimiento">{{ tarea.fecha_vencimiento }}</p>
            {% elif fecha_actual == tarea.fecha_vencimiento %}
            <p class="fecha-vencimiento vence-hoy">{{ tarea.fecha_vencimiento }}</p>
            {% else %}
            <p class="fecha-vencimiento vencido">{{ tarea.fecha_vencimiento }}</p>
            {% endif %}
            {% else %}
            <p class="tipo-proyecto sin-fecha">{{ tarea.titulo_proyecto }}</p>
            {% endif %}
            <a href="{% url 'borrar_tarea' pk=tarea.pk %}" class="delete">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M17 5V4C17 2.89543 16.1046 2 15 2H9C7.89543 2 7 2.89543 7 4V5H4C3.44772 5 3 5.44772 3 6C3 6.55228 3.44772 7 4 7H5V18C5 19.6569 6.34315 21 8 21H16C17.6569 21 19 19.6569 19 18V7H20C20.5523 7 21 6.55228 21 6C21 5.44772 20.5523 5 20 5H17ZM15 4H9V5H15V4ZM17 7H7V18C7 18.5523 7.44772 19 8 19H16C16.5523 19 17 18.5523 17 18V7Z"
                        fill="currentColor" />
                    <path d="M9 9H11V17H9V9Z" fill="currentColor" />
                    <path d="M13 9H15V17H13V9Z" fill="currentColor" />
                </svg>
            </a>
    </div>
</div>
{% endfor %}
{% endif %}
{% endblock %}

<!-- Listado de todas las tareas completadas -->
{% block listado_tareas_completadas %}
<h1 class="titulo-principal-tareas">Completadas</h1>
{% if not tareas_completadas %}
<div class="no-hay-tareas">
    <p>Has completado todas tus tareas &#128522;</p>
</div>
{% else %}
{% for tarea in tareas_completadas %}
<div class="contenedor-tareas">
    <div class="titulo-boton-tarea">
        <a href="{% url 'descompletar_tarea' pk=tarea.pk %}"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                height="24" fill="#d6d6d6" class="bi bi-check-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                <path
                    d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z" />
            </svg></a>
        <p class="tarea-completada">{{ tarea.titulo_tarea }}</p>
    </div>
    <div class="tipo-fecha-tarea">
        {% if tarea.fecha_vencimiento %}
        <p class="tipo-proyecto tipo-proyecto-completo">{{ tarea.titulo_proyecto }}</p>
        <p class="fecha-vencimiento fecha-completa">{{ tarea.fecha_vencimiento }}</p>
        {% else %}
        <p class="tipo-proyecto sin-fecha fecha-completa">{{ tarea.titulo_proyecto }}</p>
        {% endif %}
        <a href="{% url 'borrar_tarea' pk=tarea.pk %}" class="delete">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M17 5V4C17 2.89543 16.1046 2 15 2H9C7.89543 2 7 2.89543 7 4V5H4C3.44772 5 3 5.44772 3 6C3 6.55228 3.44772 7 4 7H5V18C5 19.6569 6.34315 21 8 21H16C17.6569 21 19 19.6569 19 18V7H20C20.5523 7 21 6.55228 21 6C21 5.44772 20.5523 5 20 5H17ZM15 4H9V5H15V4ZM17 7H7V18C7 18.5523 7.44772 19 8 19H16C16.5523 19 17 18.5523 17 18V7Z"
                    fill="currentColor" />
                <path d="M9 9H11V17H9V9Z" fill="currentColor" />
                <path d="M13 9H15V17H13V9Z" fill="currentColor" />
            </svg>
        </a>
    </div>
</div>
{% endfor %}
{% endif %}
{% endblock %}

<!-- Agregar una nueva tarea general -->
{% block agregar_tarea_general %}
<div class="contenedor-tareas">
    <form method="POST" class="formulario-tarea">
        {% csrf_token %}
        <div class="button-tarea ingresar-tarea-individual">
            <button type="submit"><svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M12 4C11.4477 4 11 4.44772 11 5V11H5C4.44772 11 4 11.4477 4 12C4 12.5523 4.44772 13 5 13H11V19C11 19.5523 11.4477 20 12 20C12.5523 20 13 19.5523 13 19V13H19C19.5523 13 20 12.5523 20 12C20 11.4477 19.5523 11 19 11H13V5C13 4.44772 12.5523 4 12 4Z"
                        fill="currentColor" />
                </svg></button>
            {{ form.titulo_tarea }}
        </div>
        <div class="tipo-vencimiento-tarea vencimiento-proyecto">
            {{ form.fecha_vencimiento }}
        </div>
    </form>
</div>
{% endblock %}