{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>
<body>
    <h1>Proyectos xd</h1>
    <ul>
        <p>Total proyectos: {{proyectos.count}}</p>
        {%for proyecto in proyectos %}
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                width="50" height="50" viewBox="0 0 120 120">
            <circle cx="60" cy="60" r="50"
                    fill="{{ proyecto.color }}" />
            </svg>
            <li><a href="{% url 'proyecto_seleccionado' proyecto=proyecto.titulo_proyecto %}">{{ proyecto.titulo_proyecto }}</a></li>
            <hr>
        {% endfor %}
    </ul>
    <h2>Crear nuevo proyecto</h2>
    <div>
        <form method="POST">
            {% csrf_token %}
            {{ form_proyectos.as_p }}
            <button type="submit">Guardar</button>
        </form>
    </div>
    <h2>Crear nueva tarea</h2>
    <div>
        <form method="POST">
            {% csrf_token %}
            {{ form_tareas.as_p }}
            <button type="submit">Guardar</button>
        </form>
    </div>
</body>
</html>