@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Ubuntu&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
}

body{
    background-color: #f3f4f5;
}

.contenedor{
    display: flex;
    position: relative;
}

/* =============== TODO: SIDEBAR =============== */

/* Posicionamiento del sidebar (lateral) */
.contenedor .sidebar{
    position: fixed;
    width: 300px;
    height: 100vh;
    background-color: #fff;
    padding: 30px 0;
    z-index:2;
}
/* Titulo del sidebar */
.contenedor .sidebar h2{
    color: #1BC936;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}
/* Separador del titulo y los proyectos */
.hr-1, .hr-2{
    border-top: 1px solid #f3f4f5;
    margin-top: 20px;
    margin-bottom: 20px;
}
/* Listado de los proyectos */
.listado-proyectos{
    overflow-y: auto;
}
.listado-proyectos a{
    color: black;
}
.contenedor-proyectos{
    display: flex;
    padding-left: 20px;
    padding-top: 6px;
    padding-bottom: 6px;
}
.contenedor-proyectos:hover{
    background-color: #e0e0e0;
    cursor: pointer;
}
.contenedor-proyectos li{
    padding-left: 10px;
}
.contenedor-proyectos li a{
    color: black;
}
/* Listado de otros */
.listado-otros li{
    padding-left: 20px;
    margin-bottom: 13px;
}
.listado-otros li a{
    color: black;
}

/* Sección: Agregar nuevo proyecto */
.hr-3{
    border-top: 1px solid #f3f4f5;
    margin-top: 20px;
    width: 100%;
}
.contenedor-nuevo-proyecto{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.nuevo-proyecto{
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
}
.nuevo-proyecto:hover{
    background-color: #e0e0e0;
    cursor: pointer;
}
.nuevo-proyecto svg{
    color: #626262;
    padding-left: 0;
}
.nuevo-proyecto h3{
    color: #626262;
    font-size: 25px;
    justify-self: center;
    align-self: center;
    padding-left: 7px;
}

/*  =============== TODO: LISTADO DE TAREAS ===============  */

.contenedor .contenedor-main{
    width: 100vw;
    height: 100vh;
    margin-left: 300px;
    padding: 20px 50px 10px 50px;
    position: relative;
}

.titulo-principal-tareas{
    color: #626262;
    margin-bottom: 15px;
    margin-top: 40px;
    justify-content: center;
}
.contenedor-tareas{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    background-color: #fff;
    padding: 8px 15px;
    border-radius: 6px;
    align-items: center;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(222,222,222,0.92); 
    box-shadow: 0px 0px 3px 0px rgba(222,222,222,0.92);
    z-index:1
}
/* Boton y nombre de la tarea */
.titulo-boton-tarea{
    display: flex;
    align-items: center;
}
.titulo-boton-tarea p{
    margin-left: 10px;
}

/* Tipo de tarea y fecha de vencimiento de la tarea. */
.tipo-fecha-tarea{
    display: flex;
    align-items: center;
}
.tipo-proyecto{
    padding-right: 20px;
    border-right: 1px solid #d6d6d6;
}
.fecha-vencimiento{
    padding-left: 20px;
    border-left: 1px solid #d6d6d6;
    color: #1BC936;
}

/* Mensaje mostrado en caso de que no haya tareas */
.no-hay-tareas{
    text-align: center;
    color: #626262;
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.tarea-completada{
    text-decoration: line-through;
}

/* Sección para agregar nuevas tareas generales */

.agregar-tarea-general{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding-left: 50px;
    padding-right: 50px;
}
.formulario-tarea{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.button-tarea{
    display: flex;
    align-self: center;
    align-content: center;
    width: 70%;
}
.tipo-vencimiento-tarea{
    display: flex;
    width: 30%;
}
.button-tarea button{
    background-color: white;
    border: none;
    cursor: pointer;
}
.input-agregar-tarea{
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    margin-left: 10px;
}
.input-seleccion-proyecto{
    background-color: #f3f4f5;
    color: #7c7c7c;
    border: none;
    outline: none;
    width: 100%;
    margin-right: 5px;
    border-radius: 3px;
    font-size: 16px;
    padding-left: 10px;
    cursor: pointer;
}
.input-fecha-vencimiento{
    background-color: #f3f4f5;
    color: #7c7c7c;
    border: none;
    border-radius: 3px;
    width: 100%;
    padding-right: 5px;
    padding-left: 5px;
    outline: none;
    font-size: 16px;
    padding-left: 10px;
    cursor: pointer;
}
.input-fecha-vencimiento::-webkit-calendar-picker-indicator{
    filter: invert(0.6);
    cursor: pointer;
}

/*  =============== TODO: PROYECTOS INDIVIDUALES ===============  */
.titulo-proyecto-individual{
    display: flex;
    align-items: center;
}
.titulo-proyecto-individual h1{
    padding-right: 20px;
    border-right: 1px solid #626262;
}
.titulo-proyecto-individual h2{
    font-size: 32px;
    padding-left: 20px;
    border-left: 1px solid #626262;
}
.ingresar-tarea-individual{
    width: 85%;
}
.vencimiento-proyecto{
    width: 15%;
}

.sin-fecha{
    border: none;
    padding-right: 0;
}

/*  =============== TODO: OTROS DETALLES ===============  */

/* Evitar copiar el texto */
.disable-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently supported by any browser but < IE9 */
}

/* Modal de Nuevo Proyecto */

.modal{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
}

.modal__container{
    width: 50%;
    max-width: 500px;
    max-height: 50%;
    background-color: #fff;
    margin: auto;
    border-radius: 6px;
    padding: 3em 2.5em;
    display: grid;
    gap: 1em;
    place-items: center;
    grid-auto-columns: 100%;
}

.modal--show{
    opacity: 1;
    pointer-events: unset;
}

.titulo-modal{
    color: #626262;
    font-size: 40px;
}

.input-agregar-proyecto{
    font-size: 20px;
    border: none;
    width: 100%;
    padding: 10px 80px 10px 10px;
    outline: none;
    border: 2px solid #626262;
    border-radius: 9px;
}

.seleccion-color{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.seleccion-color li{
    margin-right: 15px;
}
.seleccion-color li label{
    display: flex;
    justify-content: center;
    align-items: center;
}
.seleccion-color li label input{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
