@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@media only screen and (max-width: 1114px) {
    .sidebar{
        display: none;
    }
    .contenedor .contenedor-main{
        margin-left: 0px;
        width: 100vw;
        height: 100vh;
        position: relative;
    }
    .agregar-tarea-general{
        display: none;
    }
    .inicio-mobil{
        width: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    /* Titulo del inicio */
    .inicio-mobil a h2{
        font-size: 50px;
        font-family: 'Bungee', cursive;
        color: #3a3a3a;
        text-align: center;
        display: inline;
    }
    /* Nombre de usuario */
    .inicio-mobil p{
        margin-top: 10px;
        text-align: center;
    }
    .inicio-mobil p span{
        color: #07941c;
    }
    /* Agregar una nueva tarea */
    .agregar-tarea-mobil{
        position: absolute;
        background-color: #0000003b;
        width: 100vw;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: flex;
        align-items: flex-end;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 50px;
        opacity: 0;
        pointer-events: none;
    }
    .modal--show{
        opacity: 1;
        pointer-events: unset;
    }
    .add-task-mobil{
        padding: 10px;
        border-radius: 200px;
        border: none;
        color: white;
        background-color: #3a3a3a;
        cursor: pointer;
        transition-duration: 700ms;
        position: absolute;
        bottom: 0;
        margin-bottom: 30px;
        right: 0;
        margin-right: 30px;
    }
    .add-task-mobil:hover{
        color: #3a3a3a;
        background-color: white;
        transition-duration: 700ms;
    }
    .add-task-contenido{
        width: 100%;
        padding: 15px;
        background-color: #3a3a3a;
        border-radius: 10px;
        transition-duration: 900ms;
    }
    .add-task-contenido h4{
        color: #fff;
        margin-bottom: 10px;
        font-size: 23px;
        margin-left: 10px;
    }
    .formulario-mobil-tarea{
        display: flex;
        justify-content:space-around;
    }
    .contenedor-nueva-tarea-mobil{
        width: 100%;
    }
    .contenedor-nueva-tarea-mobil input{
        width: 100%;
        height: 100%;
        border: none;
        background-color: #555555;
        color: #fff;
        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-top-left-radius: 7px;
        border-bottom-left-radius: 7px;
        outline: none;
    }
    .contenedor-nueva-tarea-mobil input::placeholder{
        color: rgb(230, 230, 230);
    }
    .opciones-tarea-menu{
        width: 30%;
        display: flex;
    }
    .opciones-tarea-menu select{
        background-color: #555555;
        color: #fff;
        border: none;
        outline: none;
    }
    .input-seleccion-proyecto{
        margin: 0;
        border-radius: 0;
    }
    .input-fecha-vencimiento{
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    .opciones-tarea-menu input[type="date"]{
        background-color: #555555;
        color: #fff;
        border: none;
        padding-left: 15px;
        text-align-last: center;
        outline: none;
    }
    .opciones-tarea-menu input[type="date"]::-webkit-calendar-picker-indicator{
        filter: invert(1);
        padding-left: 0;
        text-align-last: left;
    }

    /* Agregar un nuevo proyecto */
    .add-proyecto-mobil{
        padding: 10px;
        border-radius: 200px;
        border: none;
        color: white;
        background-color: #3a3a3a;
        cursor: pointer;
        transition-duration: 700ms;
        position: absolute;
        bottom: 0;
        margin-bottom: 30px;
        left: 0;
        margin-left: 30px;
    }
    .add-proyecto-mobil:hover{
        color: #3a3a3a;
        background-color: white;
        transition-duration: 700ms;
    }
    .agregar-proyecto-mobil{
        position: absolute;
        background-color: #0000003b;
        width: 100vw;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: flex;
        align-items: flex-end;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 50px;
        opacity: 0;
        pointer-events: none;
    }
    .modal--show{
        opacity: 1;
        pointer-events: unset;
    }
    .add-proyecto-contenido{
        width: 100%;
        padding: 15px;
        background-color: #3a3a3a;
        border-radius: 10px;
        transition-duration: 900ms;
    }
    .add-proyecto-contenido h4{
        color: #fff;
        margin-bottom: 10px;
        font-size: 23px;
        margin-left: 10px;
    }
    .seleccion-color{
        color: #fff;
    }
}
@media only screen and (min-width: 1114px) {
    .inicio-mobil{
        display: none;
    }
    /* Ocultar tarea en escritorio */
    .boton-movil-tarea{
        display: none;
    }
    .agregar-tarea-general{
        display: block;
    }
    .agregar-tarea-mobil{
        display: none;
    }
    /* Ocultar proyecto en escritorio */
    .boton-movil-proyecto{
        display: none;
    }
    .agregar-proyecto-general{
        display: block;
    }
    .agregar-proyecto-mobil{
        display: none;
    }
}
@media only screen and (max-width: 1114px) and (min-width: 360px){
    .sidebar-bar{
        display: none;
    }
    .contenedor{
        width: 100vw;
        height: 100vh;
        overflow-y: hidden;
        overflow-x: hidden;
    }
    .contenedor-tareas{
        padding-right: 2px;
    }
    /* TODO: LISTADO DE PROYECTOS */

    .contenedor-proyectos-mobil{
        display: flex;
        justify-content: flex-start;
        overflow-x: scroll;
        padding-left: 8px;
        padding-right: 8px;
        width: 100%;
    }
    .contenedor-proyectos-mobil::after{
        box-shadow: -20px 1px 20px 0 #f00 inset; 
    }
    .contenedor-proyectos-mobil::-webkit-scrollbar{
        display: none;
    }
    .proyecto-individual-mobil{
        margin-right: 5px;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 8px;
        padding-right: 8px;
        border-radius: 3px;
        background-color: #fff;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    .proyecto-individual-mobil a{
        color: #3a3a3a;
        align-self: center;
        margin-top: 0px;
        font-weight: 800;
        font-size: 18px;
    }

    /* TODO: LISTADO DE TAREAS */

    .titulo-boton-tarea{
        width: 85%;
    }
    .tipo-fecha-tarea{
        width: 15%;
    }
    /* Fecha no vencida */
    .verde{
        background-color: #2ebd43;
    }
    .verde .titulo-boton-tarea .formulario-editor .editar-tarea-hoy{
        background-color: #2ebd43;
        color: #fff;
    }
    /* Fecha por vencer */
    .naranjo{
        background-color: rgb(193, 140, 41);
    }
    .naranjo .titulo-boton-tarea .formulario-editor .editar-tarea-hoy{
        background-color: rgb(193, 140, 41);
        color: #fff;
    }
    /* Fecha vencida */
    .rojo{
        background-color: rgb(210, 51, 51);;
    }
    .rojo .titulo-boton-tarea .formulario-editor .editar-tarea-hoy{
        background-color: rgb(210, 51, 51);;
        color: #fff;
    }

    /* Botones inferiores: agregar tarea y proyecto */

    .add-task-mobil{
        width: 50px;
        height: 50px;
    }
    .add-task-mobil-svg{
        width: 30px;
        height: 30px;
    }

    .add-proyecto-mobil{
        width: 50px;
        height: 50px;
    }
    .add-proyecto-mobil-svg{
        width: 30px;
        height: 30px;
    }
    /* Ocultar datos */
    .tipo-proyecto{
        display: none;
    }
    .fecha-vencimiento{
        display: none;
    }
    .titulo-principal-tareas{
        margin-top: 0px;
    }
}