{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
    <title>Login</title>
</head>

<body>
    <div class="contenedor-login">
        <div id="contenedor-form">
            <!-- Tabs Titles -->
            <h2 class="titulo-form">Iniciar Sesión</h2>
            <!-- Login Form -->
            <form method="POST">
                {% csrf_token %}
                <input type="text" id="login" class="input-login" name="username" placeholder="Usuario..." />
                <input type="password" id="password" class="input-login" name="password" placeholder="Contraseña..." />
                <input type="submit" class="input-submit" value="Iniciar Sesión" />
            </form>
        </div>
        <p class="login-registrarte">¿No tienes una cuenta? Puedes <a href="{% url 'registro' %}">registrarte</a>.</p>
    </div>
</body>

</html>